<div class="article-preview" *ngIf="loading === LoadingState.LOADING">
  Loading articles...
</div>

<div class="translate">
  <p-carousel
    [value]="results"
    [showIndicators]="false"
    [showNavigators]="false"
    [autoplayInterval]="5000"
  >
    <ng-template let-article pTemplate="item">
      <app-article-preview [article]="article"> </app-article-preview>
    </ng-template>
  </p-carousel>
</div>

<div
  class="article-preview"
  *ngIf="loading === LoadingState.LOADED && !results.length"
>
  No articles are here... yet.
</div>
