.page-link {
  cursor: pointer;
}

@keyframes translate {
  from {
    transform: translate(-5px);
  }
  to {
    transform: translate(5px);
  }
}

.translate {
  animation: translate linear 0.5s infinite alternate;
}
