<div class="article-meta">
  <a [routerLink]="['/profile', article.author.username]">
    <img
      id="our_img"
      [src]="'../../../assets/weird_gif.gif'"
      (mouseover)="playSound()"
      style="width: 150px; height: 150px"
    />
  </a>

  <div class="info">
    <a class="author" [routerLink]="['/profile', article.author.username]">
      {{ article.author.username }}
    </a>
    <span class="date">
      {{ article.createdAt | date : "longDate" }}
    </span>
  </div>

  <ng-content></ng-content>
</div>
