/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: "Bleeding Cowboys";
  src: url("./assets/Bleeding_Cowboys.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "Bleeding Cowboys", sans-serif;
}
